    <div class="row">
       <div ng-repeat="usuario in usuarios">
        <div class="col-sm-4" ng-init="usuario.visible=false">
            <div class="row" style="border-style: double;">
                <div class="col-sm-8">
                    <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
                    <p>{{usuario.edad}} años</p>
                    <p>{{usuario.correo}}</p>

                    <button ng-click="usuario.visible=!usuario.visible" class="btn btn-warning">Editar</button>
                    <a href="#/pastel/{{usuario.id}}" class="btn btn-success">Pasteles</a>
                </div>
                <div class="col-sm-4">
                    <h2>{{usuario.ciudad}}</h2>
                    <div align="center">
                        <img src="{{usuario.foto}}" width="60" height="60">
                    </div>
                </div>
            </div>


            <form class="animated pulse" ng-show="usuario.visible" ng-submit="editarUsuario(usuario, $index)">
                <div class="form-group">
                    <label for="idnombre">Nombre</label>
                    <input ng-model="usuario.nombre" type="text" class="form-control" id="idnombre" placeholder="Actualiza tu Nombre">
                </div>
                <div class="form-group">
                    <label for="idapellido">Apellido</label>
                    <input ng-model="usuario.apellido" type="text" class="form-control" id="idapellido" placeholder="Actualiza tu Apellido">
                </div>
                <div class="form-group">
                    <label for="idEdad">Edad</label>
                    <input ng-model="usuario.edad" type="text" class="form-control" id="idEdad" placeholder="Actualiza tu Edad">
                </div>
                <div class="form-group">
                    <label for="idCorreo">Correo</label>
                    <input ng-model="usuario.correo" type="text" class="form-control" id="idCorreo" placeholder="Actualiza tu Correo">
                </div>
                <div class="form-group">
                    <label for="idCiudad">Ciudad</label>
                    <input ng-model="usuario.ciudad" type="text" class="form-control" id="idCiudad" placeholder="Actualiza tu Ciudad">
                </div>
                <div class="form-group">
                    <label for="idFoto">Foto</label>
                    <input ng-model="usuario.foto" type="text" class="form-control" id="idFoto" placeholder="Actualiza tu Foto">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>

            </form>


        </div>
    </div>



</div>